<footer class="footer container-fluid">
    <div class="f-info py-4 ">
        <div class="row">
            <div class="col-md-3 text-center f-info-socials mb-3 mb-md-0">
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
            </div>
            <div class="col-md-6 text-center mb-3 mb-md-0">
                <div class="f-info-brand"> 
                    &copy;WanderLust Private Limited
        
                </div>

            </div>
            
            <div class="col-md-3  text-center f-info-links">
                <a href="/privacy">Privacy </a>
            
            
                <a href="/terms">Terms </a>
            </div>

        </div>
        

        </div>
    </div>
</footer>