<% layout('../layouts/boilerplate') %>


<div class="row">
    <% if (results.length > 0) { %>
        <div class="div mt-3"><h4>Search Results</h4></div>
        <% for (let result of results) { %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <a href="/listings/<%= result._id %>" class="listing-link">
                    <div class="card" style="width: 100%">
                        <img src="<%= result.image.url %>" class="card-img-top" alt="listing_image" style="height:18rem">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b><%= result.title %></b><br>
                                ₹<%= result.price?.toLocaleString("en-IN") || 'Price not available' %>/night
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        <% } %>
    <% } else { %>
        <h4>No results found for your search.</h4>
    <% } %>
</div>
</div>>